.header1{
  display: flex;
  flex-direction: row;
  background-color: rgb(34, 33, 33);
}


.header2{
  display: none;
  background-color: rgb(34, 33, 33);
}


.tituloyTabsContainer{
  display: flex;
}


.titleImage1 {
  display: block;
  margin: 0 auto;
}


.titleImage2 {
  height: auto;
  display: block;
  margin: 0 auto;
}



.fullscreenOverlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: zoom-out;
}

.fullscreenImage {
  max-width: 90vw;
  max-height: 90vh;
  object-fit: contain;
}





/* ========================= */
/*        Responsive         */
/* ========================= */

/* XS — móviles pequeños */
@media (max-width: 360px) {

      .header1{
        display: none;
      }

      .header2{
        border-bottom: 5px solid #c4a809;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem; 
        gap: 1rem;
        display: block;
        display: flex;
        flex-direction: column;
      }

      .tituloyTabsContainer{
        gap: 0rem;
        flex-direction: row;
        align-items: center;
      }

      .titleImage1 {
        width: 130px;
        height: 40px;
      }

      .titleImage2 {
        width: 60px;
        height: 80px;
      }

}




/* SM — móviles */
@media (min-width: 361px) and (max-width: 480px) {

      .header1{
        display: none;
      }

      .header2{
        border-bottom: 6px solid #c4a809;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem; 
        gap: 1rem;
        display: block;
        display: flex;
        flex-direction: column;
      }

      .tituloyTabsContainer{
        gap: 0rem;
        flex-direction: row;
        align-items: center;
      }

      .titleImage1 {
        width: 150px;
        height: 40px;
      }

      .titleImage2 {
        width: 60px;
        height: 80px;
      }

}




/* MD — tablets */
@media (min-width: 481px) and (max-width: 768px) {

      .header1{
        display: none;
      }

      .header2{
        border-bottom: 7px solid #c4a809;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem; 
        gap: 1rem;
        display: block;
        display: flex;
        flex-direction: column;
      }

      .tituloyTabsContainer{
        gap: 0rem;
        flex-direction: row;
        align-items: center;
      }

      .titleImage1 {
        width: 220px;
        height: 60px;
      }

      .titleImage2 {
        width: 80px;
        height: 100px;
      }

}




/* LG — laptop */
@media (min-width: 769px) and (max-width: 1024px) {

      .header1{
        border-bottom: 9px solid #c4a809;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem; 
        gap: 1rem;
        display: block;
        display: flex;
        flex-direction: row;
      }

      .header2{
        display: none;
      }

      .tituloyTabsContainer{
        gap: 2.5rem;
        flex-direction: column;
        align-items: center;
      }

      .titleImage1 {
        width: 310px;
        height: 80px;
      }

      .titleImage2 {
        width: 130px;
        height: 150px;
      }

}




/* XL — desktop */
@media (min-width: 1025px) and (max-width: 1280px) {

      .header1{
        border-bottom: 9px solid #c4a809;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem; 
        gap: 2rem;
        display: block;
        display: flex;
        flex-direction: row;
      }

      .header2{
        display: none;
      }

      .tituloyTabsContainer{
        gap: 3rem;
        flex-direction: column;
        align-items: center;
        padding-top: 2rem;
        justify-content: space-between;
      }

      .titleImage1 {
        width: 380px;
        height: 100px;
      }

      .titleImage2 {
        width: 170px;
        height: 200px;
      }

}




/* 2XL — pantallas grandes */
@media (min-width: 1281px) {

      .header1{
        border-bottom: 9px solid #c4a809;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem; 
        gap: 2rem;
        display: block;
        display: flex;
        flex-direction: row;
      }

      .header2{
        display: none;
      }

      .tituloyTabsContainer{
        gap: 3rem;
        flex-direction: column;
        align-items: center;
        padding-top: 3rem;
        justify-content: space-between;
      }

      .titleImage1 {
        width: 400px;
        height: 110px;
      }

      .titleImage2 {
        width: 240px;
        height: 280px;
      }

}