/* =========================
   Reset básico
   ========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* =========================
   Variables globales (base)
   ========================= */
:root {
  /* Tipografía base */
  --font-size: 16px;

  /* Colores base (desktop por defecto) */
  --bg: #575656;
  /* --text: #0a0a0a; */

  /* Breakpoints (referencia) */
  --bp-xs: 360px;   /* móviles pequeños */
  --bp-sm: 480px;   /* móviles */
  --bp-md: 768px;   /* tablets */
  --bp-lg: 1024px;  /* laptop */
  --bp-xl: 1280px;  /* desktop */
  --bp-2xl: 1536px; /* pantallas grandes */
}


html {
  overflow-y: scroll;
}


/* =========================
   Aplicación global
   ========================= */
body {
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;

  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--text);
  background-color: var(--bg);
}





/* ========================= */
/*        Responsive         */
/* ========================= */

/* XS — móviles pequeños */
@media (max-width: 360px) {
  :root {
    --font-size: 10px;
  }
}




/* SM — móviles */
@media (min-width: 361px) and (max-width: 480px) {
  :root {
    --font-size: 12px;
    --bg: #6ca6f1;
  }
}




/* MD — tablets */
@media (min-width: 481px) and (max-width: 768px) {
  :root {
    --font-size: 15px;
    --bg: #066e3e;
  }
}




/* LG — laptop */
@media (min-width: 769px) and (max-width: 1024px) {
  :root {
    --font-size: 17px;
    --bg: #8bbae9;
  }
}




/* XL — desktop */
@media (min-width: 1025px) and (max-width: 1280px) {
  :root {
    --font-size: 20px;
    --bg: #d782f1;
  }
}




/* 2XL — pantallas grandes */
@media (min-width: 1281px) {
  :root {
    --font-size: 25px;
    --bg: #943131;
  }
}