.footer {
  background-color: rgb(34, 33, 33);
}



/* ========================= */
/*        Responsive         */
/* ========================= */

/* XS — móviles pequeños */
@media (max-width: 360px) {

      .footer {
        border-top: 5px solid #c4a809;
        padding: 1rem;
      }

}




/* SM — móviles */
@media (min-width: 361px) and (max-width: 480px) {
  
      .footer {
        border-top: 6px solid #c4a809;
        padding: 1rem;
      }

}

/* MD — tablets */
@media (min-width: 481px) and (max-width: 768px) {

      .footer {
        border-top: 7px solid #c4a809;
        padding: 1rem;
      }

}

/* LG — laptop */
@media (min-width: 769px) and (max-width: 1024px) {

      .footer {
        border-top: 9px solid #c4a809;
        padding: 1rem;
      }

}

/* XL — desktop */
@media (min-width: 1025px) and (max-width: 1280px) {

      .footer {
        border-top: 9px solid #c4a809;
        padding: 1rem;
      }

}

/* 2XL — pantallas grandes */
@media (min-width: 1281px) {

      .footer {
        border-top: 9px solid #c4a809;
        padding: 1rem;
      }

}