.appShell {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.appMain {
  flex: 1;
}



/* ========================= */
/*        Responsive         */
/* ========================= */



/* XS — móviles pequeños */
@media (max-width: 360px) {

      .appMain {
        padding-top: 1rem;
        padding-bottom: 1rem;
      }

}


/* SM — móviles */
@media (min-width: 361px) and (max-width: 480px) {

      .appMain {
        padding-top: 1rem;
        padding-bottom: 1rem;
      }

}


/* MD — tablets */
@media (min-width: 481px) and (max-width: 768px) {

      .appMain {
        padding-top: 1rem;
        padding-bottom: 1rem;
      }

}


/* LG — laptop */
@media (min-width: 769px) and (max-width: 1024px) {

      .appMain {
        padding-top: 5rem;
        padding-bottom: 5rem;
      }

}


/* XL — desktop */
@media (min-width: 1025px) and (max-width: 1280px) {

      .appMain {
        padding-top: 5rem;
        padding-bottom: 5rem;
      }

}


/* 2XL — pantallas grandes */
@media (min-width: 1281px) {

      .appMain {
        padding-top: 5rem;
        padding-bottom: 5rem;
      }

}